.bg{
    background-color:red;
    height: 100px;
    width: 100px;
}
.a{
    background-color: aqua;
    height:100px ;
    width:100px ;
    
}
.d{
background-color: pink;
height: 100px;
width: 100px;
}